html, body, section.tv-box, div.tv {
    height: 100%;
}

body {
    background-image: url("../images/paper.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

#tv {
    position: absolute;
    top: 0;
    left: 0;
}

#screen {
    background-image: url("../images/screen.png");
    position: absolute;
    top: -10px;
    left: -85px;
}

#display {
    position: absolute;
    top: 25%;
    left: 8.5%;
    overflow-wrap: normal;
    word-wrap: normal;
}

#out-quest {
    word-wrap: normal;
}

#question {
    word-wrap: normal;
}

#screen-container {
    position: absolute;
}

#timer {
    position: fixed;
    top: 1%;
    left: 1%;
}

#correct-card {
    position: fixed;
    bottom: 1%;
    left: 0%;
}

#incorrect-card {
    position: fixed;
    bottom: 1%;
    right: 0%;
}

#a-1:hover, #a-2:hover, #a-3:hover,
#a-4:hover {
    cursor: pointer;
}

/* #question{
    top: 150px;
}
#a-1{
    top: 270px;
}
#a-2{
    top: 340px;
}
#a-3{
    top: 410px;
}
#a-4{
    top: 480px;
} */

#start-pos {
    position: absolute;
    z-index: 2000;
    left: 35%;
    top: 35%;
}

#pwr-btn {
    position: absolute;
    z-index: 2000;
    min-width: 4%;
    min-height: 5%;
    left: 88%;
    top: 59%;
    background-color: transparent;
    border-radius: 40%;
}

#pwr-btn:hover {
    background-color: rgba(255,255,255,.15);
}

div.tv-box {
    /* background-image: url("../images/orb.png"), url("../images/screen.png");
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -115px 0px;
    float: left;
    z-index: 100; */
    overflow: hidden;
    position: relative;
}